@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-hollywood: #F38181;
    --color-explosiva: #FCE38A;
    --color-tongo: #C5E898;
    --color-cantada: #95E1D3;
    --color-musical: #FFCF96;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  padding: 0 4rem;
  padding-bottom: 4rem;
}
